# Flask Configuration
SECRET_KEY=super_secret_soc_key_change_in_production

# Admin Credentials
ADMIN_USER=siva
ADMIN_PASS=siva123

# Threat Intel (AbuseIPDB)
ABUSEIPDB_API_KEY=
MOCK_TI_MODE=true

# Firewall Backend (options: netsh, iptables, none)
FIREWALL_BACKEND=none
